{% extends 'main.html' %}

{% load staticfiles %}

{% block title %}
    Dashboard | WhirlingSkirt
{% endblock %}

{% block header %}
    <div class="container-fluid header">
        <div class="row">
            <div class="col-sm-3">
                <p>
                    <a href="#"><i class="fa fa-bars"></i></a>
                    WhirlingSkirt
                </p>
            </div>
            <div class="col-sm-6 text-center">
                 <div class="btn-group" role="group" aria-label="Navigation">
                    <button type="button" class="btn btn-secondary btn-sm active">Dashboard</button>
                    <button type="button" class="btn btn-secondary btn-sm">Customers</button>
                </div>
            </div>
            <div class="col-sm-3 text-right">
                <button type="button" class="btn btn-primary btn-sm">Invite users</button>
                <!-- Split button -->
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary btn-sm">
                      <i class="fa fa-male"></i>
                      {{ my.full_name }}
                  </button>
                  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </button>
                  <div class="dropdown-menu small">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Help</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% block view %}
                <div class="col-sm-5 col-sm-offset-1">

                    <!--Balance card-->
                    <div class="card">
                      <div class="card-header">
                        <b>Balance</b>
                      </div>
                      <div class="card-block text-center">
                          <h4 class="card-title">{{ balance.currency }}{{ balance.current }}</h4>
                          <p class="card-text">Your current balance</p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Total revenue: {{ balance.currency }}{{ balance.total_revenue }}
                        </li>
                      </ul>
                      <div class="card-block white">
                          <table class="table table-sm small">
                              <thead>
                                <tr>
                                  <th>Invites</th>
                                  <th>Registrations</th>
                                  <th>Active users</th>
                                  <th>Conversion rate</th>
                                  <th>Transactions</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>{{ invites.count }}</td>
                                  <td>{{ invites.total_registrations }}</td>
                                  <td>{{ invites.active_members }}</td>
                                  <td>{{ invites.conversion_rate }}%</td>
                                  <td>{{ transactions }}</td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                    </div>

                    <!--Potential income card-->
                    <div class="card">
                      <div class="card-header">
                        <b>Potential Income</b>
                      </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item">
                                  <p class="card-text">{{ invites.sp_registrations }} registered service providers</p>
                                  <progress class="progress progress-success" value="{{ bonuses.for_service_providers_percent }}" max="100"></progress>
                                  <p class="card-text">
                                      <span class="label label-success">{{ balance.currency }}{{ bonuses.for_service_providers }}</span>&nbsp;
                                      <small>from {{ balance.currency }}{{ potential_income.for_service_providers }}</small>
                                  </p>
                              </li>
                              <li class="list-group-item">
                                  <p class="card-text">{{ invites.members_registrations }} registered users</p>
                                  <progress class="progress progress-success" value="{{ bonuses.for_members_percent }}" max="100"></progress>
                                  <p class="card-text">
                                      <span class="label label-success">{{ balance.currency }}{{ bonuses.for_members }}</span>&nbsp;
                                      <small>from {{ balance.currency }}{{ potential_income.for_members }}</small>
                                  </p>
                              </li>
                          </ul>
                    </div>
                </div>

                <!--RIGHT COLUMN-->
                <div class="col-sm-5">
                    <div class="card">
                      <div class="card-header">
                        <b>Payments History</b>
                      </div>
                      <table class="table table-striped small white">
                          <thead>
                            <tr>
                              <th>Date</th>
                              <!--<th>Invites</th>
                              <th>Members</th>-->
                              <th>Payment</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for payment in payments %}
                                <tr>
                                  <td>{{ payment.transaction_date }}</td>
                                  <td>{{ balance.currency }}{{ payment.value }}</td>
                                </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>

{% endblock %}
