<!--Home Template-->
{% extends 'dashboard.html' %}
{% load staticfiles %}

{% block title %}
    Sign Up | WhirlingSkirt
{% endblock %}

{% block header %}
<div class="container-fluid header">
        <div class="row">
            <div class="col-sm-3">
                <p>
                    <a href="#"><i class="fa fa-bars"></i></a>
                    WhirlingSkirt
                </p>
            </div>
        </div>
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="card">
                    <div class="card-header">
                        Sign Up
                    </div>
                    <div class="card-block white">
                        <form>
                            <fieldset class="form-group">
                                <label for="firstName">First name:</label>
                                <input type="text" id="firstName" class="form-control">
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="lastName">Last name:</label>
                                <input type="text" id="lastName" class="form-control">
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" id="email" class="form-control">
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" id="password" class="form-control">
                            </fieldset>

                            {% if invited_by %}
                                <fieldset class="form-group">
                                    <label for="invitedBy">Invited by:</label>
                                    <input type="text" id="invitedBy" class="form-control" value="{{ invited_by }}" disabled>
                                </fieldset>
                            {% endif %}

                            <div class="row">
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-secondary">Cancel</button>
                                </div>
                                <div class="col-xs-6 text-right">
                                  <button type="submit" class="btn btn-primary">Sign up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a href="{% url 'login' %}">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}